body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: white;
}

.about-social li {
    display: inline-block;
}

.autograph {
  font-family: 'Cookie';
}

.lineup {
  display: inline-block;
}

.lspace {
  margin-left: 2vw;
}

.text-center {
  text-align: center;
}

.text-blue {
  color: blue;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

ul {
  list-style-type: none;
}

.vpad {
  padding-top: 5vh;
}

.vpadb {
  padding-bottom: 3vh;
}

.vspace {
  margin-top: 1vh;
}

.wide-font{
  font-family: 'Archivo Black', sans-serif;
}