body {
  font-family: 'Roboto', sans-serif;
}

.autograph {
  font-family: 'Cookie';
}

.text-center {
  text-align: center;
}

.text-blue {
  color: blue;
}

.text-black {
  color: black;
}

.vspace {
  margin-top: 1vh;
}

.wide-font{
  font-family: 'Archivo Black', sans-serif;
}