body {
  font-family: 'Roboto', sans-serif;
}

.autograph {
  font-family: 'Cookie';
}

.text-color {
  color: blue;
}

.vspace {
  margin-top: 1vh;
}

.wide-font{
  font-family: 'Archivo Black', sans-serif;
}